:root {
  --navColor: #362222;
  --accentColor: #950101;
  --pColor: #292726;
  --textFooter: #bdbfbf;
  --bg: rgb(234, 234, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.header {
}

.nav .logo {
  padding-left: 10%;
}

.nav .logo a {
  font-family: "Abril Fatface", "cursive";
  font-size: 30px;
  color: #e4bbbb;
  text-decoration: none;
}

.nav {
  background-color: #362222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.nav__links {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.nav__links a {
  color: #b5bab8;
  padding: 0 20px;
  text-decoration: none;
}

.nav__links a:hover {
  filter: brightness(120%);
}

.nav__icons {
  display: flex;
  align-items: center;
  padding-right: 10%;
  list-style: none;
}

.icon__container {
  height: 30px;
  width: 30px;
  padding-top: 5px;
  margin: 0 10px;
}

.icon__container .icon {
  font-size: 20px;
  margin: 0 10px;
  color: #b5bab8;
}
.icon:hover {
  filter: brightness(120%);
}

.content {
  background-color: #fff;
  height: 1000px;
}

.icon {
  color: #423f3e;
}

/*ABOUT*/
.about__hero {
  background-image: url("img/workshop2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: -2;
}
.about__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.about__hero h1 {
  color: #fff;
  font-size: 50px;
}

.about__container {
  display: flex;
  flex-direction: column;
  padding: 150px 10%;
}

.about__content {
  display: flex;
  padding: 10%;
}

.about__img {
  width: 300%;
  min-width: 300px;
  height: auto;
}

.owner-name {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 10px;
}

.about__content p {
  font-size: 20px;
  line-height: 30px;
  padding: 0 10%;
}

/*Reviews*/
.user-reviews {
  background-color: #efe7e4;
  padding: 100px 10%;
}
.user-reviews-title {
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.user-reviews {
  padding: 150px 25%;
}

.review {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3.5rem;
  margin-bottom: 40px;
  border-radius: 5px;
}
@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}
.review__text {
  text-align: center;
  justify-content: center;
}

.review__user {
  display: flex;
  align-items: center;
  margin: auto;
}
.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 30px;
}
.review__user-box small {
  display: flex;
  justify-content: center;
}
.review__user-name {
  font-weight: 600;
  margin-top: 5px 0px 0px 0px;
  text-transform: uppercase;
}

/* Instruments */
#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.column-left {
}

.column-right {
  width: 500px;
  padding: 50px;
}
.column-right h1 {
  text-transform: capitalize;
}
.column-right h3 {
  margin-bottom: 70px;
}

#featured1,
#featured2,
#featured3 {
  border: 2px solid black;
}

.thumbnail1,
.thumbnail2,
.thumbnail3 {
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  margin: 3px;
  border: 2px solid black;
}

#slider {
  width: 580px;
  display: flex;
}

/* Footer */
footer {
  background-color: #362222;
  height: 300px;
}

h5, p, h2 {
  color:var(--pColor)
}

footer p {
  font-size: 13px;
  color: var(--textFooter);
}

footer h5, path {
  color: var(--textFooter);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Sections */
.my-bg-gray {
  background-color: var(--bg)
}

.my-photo:hover {
  transform: scale(1.10) translateY(-0.5rem);
  /* outline: 0.2rem solid #e4bbbb; */
}

/* Gallery */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}